@model Tuple<AdminGujaratiSamaj.Models.MemberAccountMaster, IEnumerable<AdminGujaratiSamaj.Models.MemberMaster>>

@{
    ViewBag.Title = "AddAccountDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddAccountDetails</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>MemberAccountMaster</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<div class="form-group">
            @Html.LabelFor(tuple => tuple.Item1.MemberID, "MemberID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(tuple => tuple.Item1.MemberID, new { htmlAttributes = new { @class = "form-control", @Value = ViewData["MAID"] } })
                @Html.ValidationMessageFor(tuple => tuple.Item1.MemberID, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(tuple => tuple.Item1.Paid, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.CheckBoxFor(tuple => tuple.Item1.Paid, new { @checked = true})
                    @Html.ValidationMessageFor(tuple => tuple.Item1.Paid, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(tuple => tuple.Item1.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(tuple => tuple.Item1.Amount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(tuple => tuple.Item1.Amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Payment For", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <ul >
                    @foreach (var g in Model.Item2)
                    {
                    <li>
                        <input type="checkbox"
                               name="SelectedGroups" value="@g.ID" id="@g.ID" />
                        @*@{if (Model.Item2.Contains(g.ID)) { <text> checked='checked' </text>      } } />*@
                        <label for="@g.ID">@g.FullName</label>
                    </li>
                    }
                </ul>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(tuple => tuple.Item1.DepositDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(tuple => tuple.Item1.DepositDate, htmlAttributes: new { @class = "form-control", @id = "mydate" })
                @*<input type="text" id="mydate" />*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(tuple => tuple.Item1.PaymentType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(tuple => tuple.Item1.PaymentType,
                                    new SelectList(new List<Object>{
                                               new { value = "Cash" , text = "Cash"  },
                                               new { value = "Cheque" , text = "Cheque" }
                                    }, "value", "text", 1), new { @class = "form-control" })

                @Html.ValidationMessageFor(tuple => tuple.Item1.PaymentType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(tuple => tuple.Item1.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(tuple => tuple.Item1.Comment, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(tuple => tuple.Item1.Comment, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $(document).ready(function() {
            $('#someButton').click(function() {
                var list = [];
                $('#MyDiv input:checked').each(function() {
                    list.push(this.name);
                });
                // now names contains all of the names of checked checkboxes
                // do something with it for excamle post with ajax
                $.ajax({
                    url: '@Url.Action("Action","Contoller")',
                    type: 'POST',
                    data: { Parameters: list},
                    success: function (result) {
                        alert("success");
                        },
                    error: function (result) {
                        alert("error!");
                    }
                });   //end ajax
            });
        });


        $('.ui-datepicker').each(function (i, v) {
            $(v).datepicker({
                dateFormat: 'dd-M-yy',
                setDate: new Date()
            });
        });
    });

    $("#mydate").datepicker().datepicker("setDate", new Date());
</script>
