@model AdminGujaratiSamaj.Models.MemberMaster

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MemberMaster</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BarcodeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BarcodeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPrimary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPrimary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
